<html>
  <head>
    <title>Food OMS</title>
  </head>
  <body>
    <% item_data.each do |item_d| %>
      <h1>Detail Item</h1>
      <p>Item Name: <%= item_d['name'] %></p>
      <p>Item Price: <%= item_d['price'] %></p>
      <p>Item Category: <%= item_d['category_name'] %></p>
    <% end %>
    <a href="/">Back</a>
  </body>
</html>
