<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form method="POST" action="/item">
  <label for="nama">Nama Item</label><br>
  <input type="text" id="nama" name="nama"><br>
  <label for="harga">Harga Item</label><br>
  <input type="text" id="harga" name="harga"><br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>
